<section class="bg-white bg-opacity-70">
<article class="pl-2">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="text-xl  text-blue-700 font-bold py-2">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
      {{!-- Language Dropdown code block --}}
    <div>
      <label class="font-semibold text-blue-700" for="language-name">Language:</label>
      <select class="rounded-md border outline-none" name="language-name" id="language-name">
        <option value="">{{post.language_name}}</option>   
        <option value ="CSS">CSS</option> 
        <option value="HTML">HTML</option> 
        <option value="JavaScript">JavaScript</option>
     </select>
    </div>
    <div>
     <label class="font-semibold text-blue-700" for="library-name">Library:</label>
     <select class="rounded-md border outline-none" name="library-name" id="library-name">
     <option value="">{{post.library_name}}</option>  
     <option value ="Express">Express</option> 
     <option value="Node">Node</option> 
     <option value="Handlebars">Handlebars</option>
     <option value ="MySQL">MySQL</option>
     </select>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class="p-1 hover:bg-blue-900" type="submit">Save Post</button>
    <button class="p-1 hover:bg-red-800 bg-red-400 delete-post-btn">Delete Post</button>
  </form>
</article>

<form class="comment-form pl-2">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="p-1 hover:bg-blue-900" type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}
</section>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
