<section class="bg-white bg-opacity-70">
<article class="pl-2">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="text-xl font-bold py-2">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      <select name="language-name" type="text" value="{{post.language_name}}"/>
    </div>
    <div>
      <select name="library-name" type="text" value="{{post.library_name}}"/>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class="p-1 hover:bg-blue-900" type="submit">Save Post</button>
    <button class="p-1 hover:bg-red-800 bg-red-400 delete-post-btn">Delete Post</button>
  </form>
</article>

<form class="comment-form pl-2">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="p-1 hover:bg-blue-900" type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}
</section>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>